<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleDisplayName</key>
    <string>Verbum</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AdventIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AdventIcon</string>
                </array>
            </dict>
            <key>ChristmasIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ChristmasIcon</string>
                </array>
            </dict>
            <key>LentIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>LentIcon</string>
                </array>
            </dict>
            <key>EasterIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>EasterIcon</string>
                </array>
            </dict>
            <key>PentecostIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>PentecostIcon</string>
                </array>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
